<div class="modal in">
  <form id="licenseAdd-form" autocomplete="off">
    <div class="modal-head">
      <h2>Add License</h2>
    </div>
    <div class="modal-body">
      <div class="js-modal-messages"></div>
      <div class="modal-field">
        <label for="licenseIdentifierAdd">Identifier<em class="mandatory">*</em></label>
        <input required ng-model="licenseIdentifierAdd" id="licenseIdentifierAdd" name="licenseIdentifierAdd" type="text" size="50"
          maxlength="255" value="">
      </div>
      <div class="modal-field">
        <label for="licenseNameAdd">Name<em class="mandatory">*</em></label>
        <input required ng-model="licenseNameAdd" id="licenseNameAdd" name="licenseNameAdd" type="text" size="50" maxlength="255"
          value="">
      </div>
      <div class="modal-field">
        <label for="licenseStatusAdd">Status<em class="mandatory">*</em></label>
        <select required ng-model="licenseStatusAdd" id="licenseStatusAdd" name="licenseStatusAdd">
          <option selected hidden disabled></option>
          <option value="true">true</option>
          <option value="false">false</option>
        </select>
      </div>
      <div class="modal-foot">
        <button ng-click="check([licenseIdentifierAdd, licenseNameAdd, licenseStatusAdd])" id="licenseAdd-submit">Add</button>
        <a class="js-modal-close" ng-click="cancel()" id="licenseAdd-cancel">Cancel</a>
      </div>
    </div>
  </form>
</div>
<div class="modal-overlay in"></div>
<script>document.getElementById('licenseIdentifierAdd').focus();</script>
