<div class="modal in">
  <form id="licenseDelete-form" autocomplete="off">
    <div class="modal-head">
      <h2>Delete License</h2>
    </div>
    <div class="modal-body">
      <div class="js-modal-messages"></div>
      <div class="js-modal-text">Are you sure you want to delete this license?</div>
      <br>
      <div class="modal-field">
        <label for="licenseIdentifierDelete">Identifier</label>
        <input id="licenseIdentifierDelete-fake" name="licenseIdentifierDelete-fake" type="text" size="50" maxlength="255" value={{licenseIdentifierDelete}}
          readonly>
      </div>
      <div class="modal-field">
        <label for="">Name</label>
        <input id="licenseNameDelete-fake" name="licenseNameDelete-fake" type="text" size="50" maxlength="255" value={{licenseNameDelete}}
          readonly>
      </div>
      <div class="modal-field">
        <label for="licenseStatusDelete">Status</label>
        <input id="licenseStatusDelete-fake" name="licenseStatusDelete-fake" type="text" size="50" maxlength="255" value={{licenseStatusDelete}}
          readonly>
      </div>
    </div>
    <div class="modal-foot">
      <button ng-click="hide()" id="licenseDelete-submit">Delete</button>
      <a class="js-modal-close" ng-click="cancel()" id="licenseDelete-cancel">Cancel</a>
    </div>
  </form>
</div>
<div class="modal-overlay in"></div>
