# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
insert_final_newline = true
indent_style = space
indent_size = 2

[*.java]
indent_size = 4
curly_bracket_next_line = true