<div id="body" class="page-container">
  <div id="content">
    <div class="page md-padding" ng-app="sqlc.maven-licenses" ng-controller="listMavenLicensesCtrl" id="popupContainer" ng-cloak>
      <ul class="tabs">
        <li><a href="<%= ApplicationController.root_context -%>/licensecheck_configuration/licenses">Licenses</a></li>
        <li><a href="<%= ApplicationController.root_context -%>/licensecheck_configuration/mavenDependencies">Maven Dependencies</a></li>
        <li><a class="selected" href="<%= ApplicationController.root_context -%>/licensecheck_configuration/mavenLicenses">Maven Licenses</a></li>
      </ul>
      <br>
      <div id="mavenLicense-header">
        <header class="page-header">
          <h1 class="page-title">Maven Licenses</h1>
          <i class="spinner hidden"></i>
          <div class="page-actions">
            <div class="button-mavenLicense">
              <button ng-click="addMavenLicense($event)" id="mavenLicense-add">Add Maven License</button>
            </div>
          </div>
          <p class="page-description">Add and administer maven licenses of projects.</p>
        </header>
      </div>
      <div id="mavenLicense-search">
        <div>
          <div class="panel panel-vertical bordered-bottom spacer-bottom">
            <form id="mavenLicense-search-form" class="search-box">
              <button id="mavenLicense-search-submit" class="search-box-submit button-clean">
                                <i class="icon-search"></i>
                            </button>
              <input ng-model="searchString" id="mavenLicense-search-query" class="search-box-input" type="search" name="q" placeholder="Search"
                maxlength="100">
            </form>
          </div>
        </div>
      </div>
      <div>
        <table class="data zebra" width="100%">
          <thead>
            <tr>
              <th>License Regex</th>
              <th>License Key</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tr ng-repeat="mavenLicense in mavenLicenses | searchForMavenLicense:searchString as filteredItems">
            <td width="40%">{{mavenLicense.regex}}</td>
            <td width="40%">{{mavenLicense.key}}</td>
            <td>
              <a class="icon-edit" ng-click="editMavenLicense($event, mavenLicense)" title="Edit Maven License" data-toggle="tooltip"></a>
              <a class="icon-delete" ng-click="deleteMavenLicense($event, mavenLicense)" title="Delete Maven License" data-toggle="tooltip"></a>
            </td>
          </tr>
          <tr ng-show="!filteredItems.length">
            <td> no maven licenses available</td>
            <td> </td>
            <td> </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="../static/licensecheck/vendor.js"></script>
<script src="../static/licensecheck/licensecheck.js"></script>
