<div class="modal in">
  <form id="projectLicenseEdit-form" autocomplete="off">
    <div class="modal-head">
      <h2>Edit Project License</h2>
    </div>
    <div class="modal-body">
      <div class="js-modal-messages"></div>
      <div class="modal-field">
        <label for="projectLicenseLicenseEdit">License<em class="mandatory">*</em></label>
        <select required disabled ng-model="projectLicenseLicenseEdit" id="projectLicenseLicenseEdit"
                ng-options="license.identifier as license.identifier for license in licenses">
        </select>
      </div>
      <div class="modal-field">
        <label for="projectLicenseProjectEdit">Project<em class="mandatory">*</em></label>
        <select required disabled ng-model="projectLicenseProjectEdit" id="projectLicenseProjectEdit"
                ng-options="resource.key as resource.name for resource in resources">
        </select>
      </div>
      <div class="modal-field">
        <label for="projectLicenseStatusEdit">Status<em class="mandatory">*</em></label>
        <select required ng-model="projectLicenseStatusEdit" id="projectLicenseStatusEdit" name="projectLicenseStatusEdit">
          <option value="true">true</option>
         <option value="false">false</option>
        </select>
      </div>
      <div class="modal-foot">
        <button ng-click="check([projectLicenseLicenseEdit, projectLicenseProjectEdit, projectLicenseStatusEdit])" id="projectLicenseEdit-submit">Edit</button>
        <a class="js-modal-close" ng-click="cancel()" id="projectLicenseEdit-cancel">Cancel</a>
      </div>
    </div>
  </form>
</div>
<div class="modal-overlay in"></div>
