<div class="modal in">
  <form id="projectLicenseDelete-form" autocomplete="off">
    <div class="modal-head">
      <h2>Delete Project License</h2>
    </div>
    <div class="modal-body">
      <div class="js-modal-messages"></div>
      <div class="js-modal-text">Are you sure you want to delete the license {{projectLicenseLicenseDelete}} for project {{projectLicenseProjectDelete}}?</div>
    </div>
    <div class="modal-foot">
      <button ng-click="hide()" id="projectLicenseDelete-submit">Delete</button>
      <a class="js-modal-close" ng-click="cancel()" id="projectLicenseDelete-cancel">Cancel</a>
    </div>
  </form>
</div>
<div class="modal-overlay in"></div>
