<div class="modal in">
  <form id="mavenDependencyDelete-form" autocomplete="off">
    <div class="modal-head">
      <h2>Delete Maven Dependency</h2>
    </div>
    <div class="modal-body">
      <div class="js-modal-messages"></div>
      <div class="js-modal-text">Are you sure you want to delete this maven dependency?</div>
      <br>
      <div class="modal-field">
        <label for="mavenDependencyKeyDelete">Key Regex</label>
        <input id="mavenDependencyKeyDelete-fake" name="mavenDependencyKeyDelete-fake" type="text" size="50" maxlength="255" value={{mavenDependencyKeyDelete}}
          readonly>
      </div>
      <div class="modal-field">
        <label for="mavenDependencyLicenseDelete">License</label>
        <input id="mavenDependencyLicenseDelete-fake" name="mavenDependencyLicenseDelete-fake" type="text" size="50" maxlength="255"
          value={{mavenDependencyLicenseDelete}} readonly>
      </div>
    </div>
    <div class="modal-foot">
      <button ng-click="hide()" id="mavenDependencyDelete-submit">Delete</button>
      <a class="js-modal-close" ng-click="cancel()" id="mavenDependencyDelete-cancel">Cancel</a>
    </div>
  </form>
</div>
<div class="modal-overlay in"></div>
