<%
	usedLicenseMeasure = measure("licensecheck.license")
	if usedLicenseMeasure && !usedLicenseMeasure.data.blank? 
%>

<div>
	<table class="data zebra">
		<thead>
			<tr>
				<th>Identifier</th>
				<th>Name</th>
				<th>Allowed</th>
			</tr>
		</thead>
		<tbody>
			<% licenseString = '' %>
			<% usedLicenseMeasure.data.split(/;/).each do |license| %>
			<tr>
				<% licenseString += license + ';'%>
				<% license.split(/~/).each do |col| %>
				<td>  <%= col -%> </td>
				<% end %>
			</tr>
			<% end %>
		</tbody>	
	</table>
	
	<p><br> Export the used dependencies and licenses to a CSV file after a project scan</p>
	<p><a class="csv" href="licensecheck_configuration/export_csv" id="export-csv-link">Export CSV</a></p>
</div>

<% Api::Utils.java_facade.getComponentByClassname('licensecheck', 'at.porscheinformatik.sonarqube.licensecheck.widget.DependencyCheckWidgetValidator').setLicenseString(licenseString) %>

<% else %>
<h1>No Data</h1>
<% end %>