<%
  helper = Api::Utils.java_facade.getComponentByClassname('licensecheck', 'at.porscheinformatik.sonarqube.licensecheck.widget.WidgetHelper')
  usedLicenseMeasure = measure("licensecheck.license")
  if usedLicenseMeasure && !usedLicenseMeasure.data.blank?
    licenses = helper.getLicenses(usedLicenseMeasure.data)
%>
<div>
    <table class="data zebra">
        <thead>
            <tr>
                <th>Name</th>
                <th>Identifier</th>
                <th>Allowed</th>
            </tr>
        </thead>
        <tbody>
            <% licenses.each do |license| %>
            <tr>
                <td><%= license.name %></td>
                <td><%= license.identifier %></td>
                <td><%= license.status %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <p><br> Export the used licenses to a CSV file after a project scan</p>
    <p><a class="csv" href="../../licensecheck_configuration/export_used_licenses_csv" id="export-csv-link">Export CSV</a></p>
</div>
<% else %>
<h1>No Data</h1>
<% end %>