<div class="modal in">
  <form id="mavenLicenseAdd-form" autocomplete="off">
    <div class="modal-head">
      <h2>Add Maven License</h2>
    </div>
    <div class="modal-body">
      <div class="js-modal-messages"></div>
      <div class="modal-field">
        <label for="mavenLicenseRegexAdd">License Regex<em class="mandatory">*</em></label>
        <input id="mavenLicenseRegexAdd-fake" name="mavenLicenseRegexAdd-fake" type="text" class="hidden">
        <input required ng-model="mavenLicenseRegexAdd" id="mavenLicenseRegexAdd" name="mavenLicenseRegexAdd" type="text" size="50"
          maxlength="255" value="">
      </div>
      <div class="modal-field">
        <label for="mavenLicenseKeyAdd">License Key<em class="mandatory">*</em></label>
        <select required ng-model="mavenLicenseKeyAdd" id="mavenLicenseKeyAdd" name="mavenLicenseKeyAdd">
          <option selected hidden disabled></option>
          <option ng-repeat="license in licenses | orderBy:'identifier'" value="{{license.identifier}}">{{license.identifier}}</option>
        </select>
      </div>
      <div class="modal-foot">
        <button ng-click="check([mavenLicenseRegexAdd, mavenLicenseKeyAdd])" id="mavenLicenseAdd-submit">Add</button>
        <a class="js-modal-close" ng-click="cancel()" id="mavenLicenseAdd-cancel">Cancel</a>
      </div>
    </div>
  </form>
</div>
<div class="modal-overlay in"></div>
<script>document.getElementById('mavenLicenseRegexAdd').focus();</script>
